<div class="container-edit m-5">
  <h1>Editar Producto</h1>
  <%= simple_form_for (@product) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :stock %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
