<h1>CREATE A NEW PRODUCT</h1>
<div class="container">
  <%= simple_form_for (@product) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :stock %>
    <%= f.label :photos, "Photos" %>
    <%= f.file_field :photos, multiple: true, direct_upload: true, class: 'form-control' %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
